@import url(https://fonts.google.com/specimen/Montserrat);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display:grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
.img-details{
    display: flex;
    flex-direction: row;
    max-width: 46rem;
    background-color: white;
    color:hsl(228, 12%, 48%) ;
    border-radius: 1.5rem;
}
.grid-flow{
    display: grid;
    align-content: start;
    gap: 1rem;
}
/* .grid-flow[data-spacing="large"]{
    gap: 2rem;
} */
.img{
    width: 50%;
    background: url(image-product-desktop.jpg);
    border-radius: 1.2rem 0 0 1.2rem;
    background-position: center;
    background-size:cover;


}
.details{
    width: 50%;
    padding: 3rem;
}
.details-title{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.details-header{
    color: black;
}
.details-price{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.price{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: bold;
}
.premium{
    text-decoration: line-through;
}
.details-button{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color:hsl(158, 36%, 37%);
    border: none;
    padding: 1.2rem;
    border-radius: 1.2rem;
    color: white;
}
.details-button:hover{
    background-color: hsl(158, 68%, 45%);
}